$body-bg: #181818;
$body-color: #ccc;
$link-color: #75AADB;

/* css styles */

#title-block-header.quarto-title-block.default .quarto-title-meta {
      color: #ffffff;
}

#title-block-header {
      background-image: url(img/cordillera_wide.jpeg);
      background-size: cover;
      background-position-y: center;
      height: 260px;
}